<section id="section_pin_show">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">

        <div class="row">
          <div class="col-md-6">
            <%= image_tag @pin.image, class: "img-thumbnail" %>
            <p class="text-center mt-2">Submitted by<%= @pin.user.email %></p>
            <div class="btn-group d-flex justify-content-center mb-2" role="group" aria-label="Basic example">
              <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-outline-dark" do %>
                <i class="fa fa-heart"> <%= @pin.get_upvotes.size %></i>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "Edit", edit_pin_path(@pin), class: "btn btn-outline-dark" %>
                <%= link_to "Delete", pin_path(@pin), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-outline-dark" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-6">
            <h3 class="text-center"><%= @pin.title %></h3>
            <hr>
            <p class="text-muted"><%= @pin.description %></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
