<section id="section_pin_show">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">

        <div class="row">
          <div class="col-md-6">
            <%= image_tag @pin.image, class: "img-thumbnail" %>
            <p class="text-center mt-2">Submitted by<%= @pin.user.email %></p>
          </div>
          <div class="col-md-6">
            <h3 class="text-center"><%= @pin.title %></h3>
            <hr>
            <p class="text-muted"><%= @pin.description %></p>
          </div>
        </div>
        <% if user_signed_in? %>
          <div class="col-md-12 text-center">
            <%= link_to "Edit", edit_pin_path(@pin), class: "action" %> |
            <%= link_to "Delete", pin_path(@pin), method: :delete, data: {confirm: "Are you sure?"}, class: "action" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
